@model arsoudeServeur.Models.Randonnee

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Edit</title>
</head>
<body>

<h4>Randonnee</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="id" />
            <div class="form-group">
                <label asp-for="nom" class="control-label"></label>
                <input asp-for="nom" class="form-control" />
                <span asp-validation-for="nom" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="description" class="control-label"></label>
                <input asp-for="description" class="form-control" />
                <span asp-validation-for="description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="emplacement" class="control-label"></label>
                <input asp-for="emplacement" class="form-control" />
                <span asp-validation-for="emplacement" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="typeRandonnee" class="control-label"></label>
                <select asp-for="typeRandonnee" class="form-control"></select>
                <span asp-validation-for="typeRandonnee" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="utilisateurId" class="control-label"></label>
                <select asp-for="utilisateurId" class="form-control" asp-items="ViewBag.utilisateurId"></select>
                <span asp-validation-for="utilisateurId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

</body>
</html>
